.container {
	border: 1px solid #ffffff25;
	border-radius: 8px;
	padding: 1rem;
	.title {
		font-size: 2rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}
	.content {
		padding: 1rem;
		border-radius: 4px;
		background: #ffffff25;
		color: #fff;
	}
}
